*{
    margin: 0px;
    padding: 0px;
}

#navbar{
 height: 67px;
 border: 1px solid black; 
 display: flex;
 justify-content: space-evenly;  
}
#logo{
width: 9%;
}
#navs{
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
#searchbox{
    width: 35%;
    display: flex;
    justify-content: center;
    /* align-items: center;     */
    
}
#navs2{
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.b1{
    border: 1px solid red;
}

.img-hw100{
    height: 75% ;
    width: 75%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#studiopadding{

}
.searchbox{
    width: 350px;
    height: 25px;
    background-color: lightgrey;
    border: none;
    outline: none;
}

.search-icon{
    background-color: lightgrey;
    width: 20px;
    height: 25px;
    padding-top: 25px;
}
.df{
    display: fle;
}